language: php
php:
  - 5.6
  - 5.5
  - 5.4
before_install:
  - sudo bash -c 'echo "87.98.253.108 getcomposer.org" >> /etc/hosts'
  - composer self-update
  - composer install
script:
  - ./vendor/bin/pho --stop
after_script: php script/coveralls.php
